<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener Microservice</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header">
      <h1>Welcome to the URL Shortener Microservice</h1>
    </div>
    <div class="description">
      <h4>
        This microservice allows the user to send a POST request with a regular
        url, and will return a json response containing the original URL and a
        shortened URL that will be active and redirect the user to the original
        URL.
      </h4>
    </div>
  </body>
</html>
